@model BookStore.Domain.Model.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.Address)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.First().Product.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.First().Product.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.First().Quantity)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItem)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Product.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Product.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Quantity)
                </td>
            </tr>
        }
    </tbody>
    
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
